.vs/
.vscode/
.idea/
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Content/StarterContent/*
StarterContent/*
Content/Collections/
Content/Developers/
Plugins/*/Binaries/
Plugins/*/Intermediate/
WindowsNoEditor/
MacNoEditor/
Android_*/
IOS/
*.VC.db
*.xcworkspace
*.idea